*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg,#00faba,#5b5b5b);
}  


/* ================================ THIS FOR WEB BROWSER ============================= */


.card{
    width: 80%;
    max-width: 470px;
    background: white;
    /* linear-gradient(135deg,#00faba,#5b5b5b) */
    color: #fff;
    margin: 15px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search input{
    border: 0;
    outline: 0;
    background: linear-gradient(135deg ,white,black);    
    padding: 10px 50px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    position: relative;
    top: -20px;
}

.search button{
    border: 0;
    outline: 0;
    background: linear-gradient(135deg ,white,black);
    border-radius: 20px;
    width: 40px;
    height: 40px;
    color: white;
    font-size: large;
    cursor: pointer;
    position: relative;
    top: -20px;

}

.saerch button i{
    width: 30px;
    font-size: larger;
}

.weather{
    position: relative;
    top: 10px;
}

.weather-icon{
    width: 400px;
    height: 200px;
    position: relative;
    top: -5px;
    /* border: 1px solid black; */
    /* border-radius: 100px; */
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}

.tem{
    font-size: 60px;
    color: black;
    position: absolute;
    top: 55%;
    left: 34%;

}

.city{
    color: black;
    position: absolute;
    top: 70%;
    left: 35%;
}

.detais{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin-top: 120px;
}
div p{
    color: black;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col video{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    background: linear-gradient(135deg,black,red);
}

.humidity,.wind{
    font-size: 28px;
    margin-top: -6px;
}

/* .weather{
    display: none;
} */



/* =============================THIS IS FOR MOBILE BROWSER =========================== */

@media screen and (max-width:900px) {

    body {
      overflow: hidden;
    }

    .card{
        width: 100%;   
        height: 70%;
        position: absolute;             
        top: 10%;
        border: 2px solid black;
        /* background: red; */
    }
    
    .search input{                
        padding: 10% 10%;
        /* height: 10%;     */
        /* position: relatie; */
        left: -7%;
        top: 0%;  }        
    


    .search button{
        width: 60px;
        height: 60px;
        left: 82%;        
        border-radius: 60%;
        /* color: black; */
        position: absolute;
        top: 7%;
        /* background: ; */
        font-size: 150%;
        /* display: none; */
    }

    .weather{    
        top: 320px;
        /* display: none; */

    }
    
    .weather-icon{
        width: 100%;  
        height: 400px;
        position: absolute;  
        right: 0%;  
        top: -500px;
        /* display: none;     */
    }

    .tem{        
        top: -170px;
        left: 34%;
        /* display: none; */
    
    }
    
    .city{       
        top: -100px;
        left: 40%;
        /* display: none; */
    }

    detais{        
        padding: 0 40px;
        /* margin-top: 50%; */
        position: absolute;
        top: 100px;        
        /* display: none; */
    }

    div p{
        color: black;
        /* display: none */
    }

    .col video{
        width: 40px;
        height: 40px;   
        /* display: none;  */
    }

    .humidity,.wind{
        font-size: 20px;
        margin-top: -6px;        
        /* display: none; */
    }

    .humidity{
        margin-right: 50px;
        /* display: none; */
    }

}